/* game board table */
#board{
  margin: 300px;
}
#board td {
  width: 50px;
  height: 50px;
  border: solid 1px #666;
}

/* pieces are div within game table cells: draw as colored circles */

.piece {
  margin: 5px;
  width: 80%;
  height: 80%;
  border-radius: 50%;
}

.piece.p1 {
  background-color: red;
}

.piece.p2 {
  background-color: blue;
}

/* column-top is table row of clickable areas for each column */

#column-top td {
  border: dashed 1px lightgray;
}

#column-top td:hover {
  background-color: gold;
}

html{
  font-family :'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}



#form-container{
  display:flex;
  justify-content:center;
  align-items:center;
  height:100vh; 
}
#gameForm{
  text-align: center;
}
#start-btn{
  margin-top: 20px;
}

*{
  font-family: lucida console;
  color:black;
}

#game-container {
  position: relative;
}

#play-again-btn {
  position: absolute;
  top: 25%; /* Adjust as needed */
  right: 50%; /* Adjust as needed */

}
#exit-btn{
  position:absolute;
  top:25%;
  right:40%
}

@media screen and (max-width: 1500px) {
  /* Adjust the button position for small screens */
  #play-again-btn {
      top: 25%; /* New top position for small screens */
      right: 20% ; /* New right position for small screens */
  }
  #exit-btn{
    top : 25%;
    right:10%;
  }
}
@media screen and (max-width: 600px) {
  /* Adjust the button position for small screens */
  #play-again-btn {
      top: 25%; /* New top position for small screens */
      right: 50% ; /* New right position for small screens */
  }
  #exit-btn{
    top:25%;
    right:40%;
  }
  #board{
    display:none;
  }
}

#play-again-btn , #exit-btn{
  background-color: white;
}